# DISCORD_CLIENT_ID=your_discord_client_id
# DISCORD_CLIENT_SECRET=your_discord_client_secret
# DISCORD_CALLBACK_URL=http://localhost:3000/auth/discord/callback
# SESSION_SECRET=your_random_session_secret
# PORT=3000


DISCORD_CLIENT_ID=1517039719001886831
DISCORD_CLIENT_SECRET=x7aM9btXLSf7AEX0GcC3g99cTbmmqQhq
DISCORD_CALLBACK_URL=http://localhost:3000/auth/discord/callback
SESSION_SECRET=market
PORT=3000
